<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" CONTENT="no-cache">
<meta http-equiv="Expires" CONTENT="-1">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta property="og:type" content="website">
<meta property="og:title" content="(주)소리자바">
<meta property="og:description" content="세계 최초 인공지능속기 개발, AI속기키보드, 속기사교육, 국가자격 합격1위">
<!-- favicon -->
<link rel="shortcut icon" href="/resources/image/favicon.ico" type="image/x-icon">
<link rel="icon" href="/resources/image/favicon.ico" type="image/x-icon">
<!-- CSS -->
<link rel="stylesheet" href="/resources/css/sb-admin-2.css" type="text/css" />
<link rel="stylesheet" href="/resources/css/webpos.css" type="text/css" />
<!--[if ie 9]>
<link rel="stylesheet" href="/resources/css/lib/ie9.css" />
<![endif]-->