<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Caption Center</title>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="layout/head"></th:block>
    <!-- custom css -->
    <th:block layout:fragment="customCss"></th:block>
</head>
<body id="page-top">
	<!-- loading -->
    <div class="loading-bg">
        <div class="loading-circ"></div>
        <div class="loading-txt">Loading...</div>
    </div>
    <!-- #wrapper -->
    <div id="wrapper">
        <!-- LNB : .navbar-nav -->
        <div th:replace="/layout/lnb :: lnb"></div>
        <!--// LNB : .navbar-nav -->
        <!-- #content-wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- #content -->
            <div id="content">
                <!-- Nav : .navbar -->
                <div th:replace="/layout/header :: header"></div>
                <!--// Nav : .navbar -->

                <!-- .container-fluid -->
                <th:block layout:fragment="content"></th:block>
                <!--<div class="container-fluid">

                </div>-->
                <!--// .container-fluid -->
            </div>
            <!--// #content -->

            <!-- Footer : .sticky-footer -->
            <div th:replace="/layout/footer :: footer"></div>
            <!--// Footer : .sticky-footer -->
        </div>
        <!--// #content-wrapper -->
    </div>
    <!--// #wrapper -->

    <!-- common javascript -->
    <th:block th:replace="layout/script"></th:block>
    <!-- custom javascript -->
    <th:block layout:fragment="customScript"></th:block>
</body>

</html>