<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/layout4">
<head>
	<title>Caption Center | error</title>
</head>
<body>

<th:block layout:fragment="content">
	<!-- .container-fluid -->
	<div class="container-fluid">
		<!-- 회원가입 : .box_join -->
		<div class="box_join">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="error-page">
						<div>
							<h1>404</h1>
							<h3>서비스 이용에 불편을 드려 죄송합니다.</h3>
							<p>
								요청한 웹페이지의 이름이 바뀌었거나 현재 사용할 수 없거나 삭제되었습니다.<br>
								입력하신 주소가 정확한지 다시 한번 확인해 보시기 바랍니다<br>
							</p>
							<br>
							<a th:href="@{/}" class="btn btn-primary btn-icon-split btn-lg">
								<span class="text">메인 페이지로 이동</span>
							</a>
						</div>
					</div>
				</div><!-- /.col-->
			</div>
		</div><!--// 회원가입 : .box_join -->
	</div><!--// .container-fluid -->
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customScript"></th:block>

</body>
</html>