<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/layout4">
<head>
	<title>Caption Center | error</title>
	<th:block layout:fragment="customCss"></th:block>
</head>
<body>
<th:block layout:fragment="content">
	<!-- .container-fluid -->
	<div class="container-fluid">
		<!-- 회원가입 : .box_join -->
		<div class="box_join">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="error-page">
						<div>
							<h1><i class="material-icons">warning</i></h1>
							<h3>세션이 만료되었습니다.</h3>
							<p>
								세션 기간이 만료되었습니다.<br>
								다시 로그인 후 사이트를 사용하실 수 있습니다.
							</p>
							<br>
							<a th:href="@{/}" class="btn btn-primary btn-icon-split btn-lg">
								<span class="text">메인 페이지로 이동</span>
							</a>
						</div>
					</div>
				</div><!-- /.col-->
			</div>
		</div><!--// 회원가입 : .box_join -->
	</div><!--// .container-fluid -->
	</section>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customScript"></th:block>
</body>
</html>