<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Caption Center | Mail - 임시비밀번호 </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta property="og:type" content="website"> 
	<meta property="og:title" content="(주)소리자바">
	<meta property="og:description" content="세계 최초 인공지능속기 개발, AI속기키보드, 속기사교육, 국가자격 합격1위">
	<!-- favicon -->
	<link rel="shortcut icon" href="../resources/image/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../resources/image/favicon.ico" type="image/x-icon">
</head>
<body>
	<table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:640px;margin:0;font-family:dotum; border:1px solid #eee;">
		<tbody>
			<tr>
				<td style="padding:30px 30px 0;margin:0 auto;background:#fff;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;vertical-align:top">
					<table class="mail-tbl2" cellspacing="0" cellpadding="0" border="0" style="width:580px;border-collapse:collapse;background:#fff">
						<tbody>
							<tr>
								<td style="padding:0 0 35px;text-align:center;vertical-align:top">
									<img src="https://webfos.ddfnet.kr/resources/image/bg/logo.png" alt="소리자바">
								</td>
							</tr>
							<tr>
								<td style="padding:0 0 58px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:24px;font-weight:bold;line-height:20px;color:#222;text-align:center;vertical-align:top">로그인을 위한 <span style="color:#0064D2">임시 비밀번호</span> 안내입니다.
								</td>
							</tr>
							<tr>
								<td style="padding:0 0 5px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:14px;line-height:20px;color:#222;text-align:left;vertical-align:top">

									안녕하세요. <span style="color:#000" th:text="${memNm}"></span> 님<br>
									초기화 요청하신 임시 비밀번호가 생성되었습니다.<br>
									아래 <strong style="color:#0064D2">“초기화 확인＂</strong> 버튼을 클릭한 후, <strong style="color:#0064D2">임시 비밀번호로 로그인</strong> 해주세요.<br>
									감사합니다.<br>
								</td>
							</tr>
							<tr>
								<td style="height:0px;background:#222"></td>
							</tr>
							<tr>
								<td style="padding:25px 0;vertical-align:middle;text-align:center;background:#fff">
									<a th:href="${host}" style="display:inline-block; font-size:14px; padding:10px 15px; color:#fff;background:#4262be; font-weight:bold; text-decoration:none;">초기화 확인</a>
								</td>
							</tr>
							<tr>
								<td style="height:1px;background:#E8E8E8"></td>
							</tr>
							<tr>
								<td style="padding:20px 0 0;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:13px;color:#000;letter-spacing:-0.015em;font-weight:bold;text-align:center;">임시 비밀번호:</td>
							</tr>
							<tr>
								<td style="width:300px;padding:10px 0 35px;text-align:center;vertical-align:middle;text-decoration:none;">
									<span th:text="${resetPasswd}" style="font-size:16px;font-weight:bold;color:#0064D2;text-decoration:none;"></span>
								</td>
							</tr>							
							
							<tr>
								<td style="height:0px;background:#222"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td style="padding:18px 30px 20px;margin:0 auto;background:#dde0e1;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:11px;vertical-align:top">
					<table cellspacing="0" cellpadding="0" border="0" style="width:580px;border-collapse:collapse;background:#dde0e1">
						<tbody>
							<tr>
								<td style="padding:0 20px;vertical-align:middle"><img src="https://webfos.ddfnet.kr/resources/image/bg/white_logo.png" alt="소리자바"></td>
								<td style="padding:0 10px;border-left:1px solid #eee;font-size:11px;color:#999;line-height:16px;">
									<p style="padding:0;margin:0;font-size:11px;color:#999;line-height:16px;">
										본 메일은 발신전용으로 회신되지 않습니다. <br>
										(주)소리자바 | 주소 : 서울시 강남구 테헤란로 13길 8-3 은하빌딩 2층 <br>
										| 대표자 : 안상현 | 사업자 등록번호 :206-81-58545<br>
										T : 02-584-8181 | F : 02-561-8182 | E : <a href="mailto:sorizava@sorizava.co.kr" style="color:#1179ea" target="_blank">sorizava@sorizava.co.kr</a><br>
										COPYRIGHT sorizava company. ALL RIGHTS RESERVED.
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>