<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
<title>Caption Center | 대시보드 > 작업현황상세</title>
<th:block layout:fragment="customCss">
	<link rel="stylesheet" href="../resources/css/jquery-ui.css" type="text/css" />
	<link rel="stylesheet" href="../resources/css/jquery-ui.custom.css" type="text/css" />
	<link rel="stylesheet" href="../resources/css/monthPicker.css" type="text/css" />
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
</th:block>

</head>
<body>
<th:block layout:fragment="content">
			<!-- .container-fluid -->
			<div class="container-fluid">
				<h1>
					프로그램리스트
					<a class="btn btn-primary">편성 추가</a>
				</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<div class="row">
								<div class="col-md-12">
									<div th:each="prog:${list}">
										<div class="row">
											<div class="col-xs-12">
												<h5 th:text="${prog.progNm}"></h5>
											</div>
										</div>
										<div class="row" th:each="progDetail:${prog.scheduleList}" >
											<div class="col-md-2" th:text="${progDetail.schedType}"></div>
											<div class="col-md-3" th:text="${#temporals.format(progDetail.bgnTime, 'yyyy-MM-dd HH:mm')}"></div>
											<div class="col-md-1">~</div>
											<div class="col-md-3" th:text="${#temporals.format(progDetail.endTime, 'yyyy-MM-dd HH:mm')}"></div>
											<div class="col-md-3">
												<a class="btn btn-primary" th:href="@{/settings/schedDetail(schedNo=${progDetail.schedNo})}">편성 상세</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<h4>수정하기</h4>
							<div class="row">
								<div class="col-xs-6">채널명</div>
								<div class="col-xs-6"><input type="text"></div>
							</div>
							<div class="row">
								<div class="col-xs-6">채널설명</div>
								<div class="col-xs-6"><input type="text"></div>
							</div>
							<div class="row">
								<div class="col-xs-6">채널url</div>
								<div class="col-xs-6"><input type="text"></div>
							</div>
						</div>
					</div>


				</div>
			</div><!--// .container-fluid -->
</th:block>

<th:block layout:fragment="customScript"></th:block>
</body>
</html>