<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>webfos : autoTxt2</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta property="og:type" content="website"> 
<meta property="og:title" content="(주)소리자바">
<meta property="og:description" content="세계 최초 인공지능속기 개발, AI속기키보드, 속기사교육, 국가자격 합격1위">
<th:block layout:fragment="customCss">
<!-- favicon -->
<link rel="shortcut icon" href="/resources/image/favicon.ico" type="image/x-icon">
<link rel="icon" href="/resources/image/favicon.ico" type="image/x-icon">
<!-- CSS -->
<link rel="stylesheet" href="/resources/css/style/font.css" type="text/css" />
<link rel="stylesheet" href="/resources/css/webfos.css" type="text/css" />
<!--[if ie 9]>
	<link rel="stylesheet" href="../resources/css/lib/ie9.css" />
<![endif]-->
</th:block>
</head>
<body class="webfos-wrap">
<th:block layout:fragment="content">
	<!-- 상단메뉴 -->
	<div class="webfos-top-dic">
		<div class="title-box">
			<h1>WEBFOS</h1>
			<p>사용자사전</p>
		</div>
	</div>
	<!-- .webfos-body -->
	<div class="webfos-body">
		<!-- .dic-box -->
		<div class="dic-box">
		<form class="" action="#" name="searchForm" th:object="${searchInfo}" th:action="@{/webfos/program/autoTxt/search}" method="Post">
			<div class="search-box">
				<button class="btn-up" type="button" title="가져오기"></button>
				<button class="btn-down" type="button" title="내보내기"></button>
				
				<div class="search-area">
					<select id="searchType" th:field="*{searchType}">
						<option value="all">전체</option>
						<option value="keyword">입력어</option>
						<option value="autoTxt">출력어</option>
					</select>
					<input type="text" class="search-input" id="searchValue" placeholder="" th:field="*{searchValue}">
					<button class="btn-search" type="submit" id="searchButton">검색</button>
					<button class="btn-reset" type="submit" id="resetButton">초기화</button>
				</div>
			</div>
		</form>
			<!-- 리스트 -->
			<div class="dic-list-box">
				<table>
					<colgroup>
						<col width="40%">
						<col width="40%">
						<col width="20%">
					</colgroup>
					<thead>
						<tr>
							<th>입력어</th>
							<th>출력어</th>
							<th>실행</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="autoTxtInfo : ${autoTxtInfoList}">
							<td><input type="text" class="dic-input" th:value="${autoTxtInfo.keyword}" disabled="disabled"></td>
							<td><input type="text" class="dic-input" th:value="${autoTxtInfo.autotxt}" th:placeholder="${autoTxtInfo.autotxt}" disabled="disabled"></td>
							<td>
								<div class="btn-box">
									<button type="button" class="btn-save" onclick="javascript:saveAutoTxt(event)">수정</button>
									<button type="button" class="btn-delete" onclick="javascript:deleteAutoTxt(event)">삭제</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="btn-right">
					<button type="button" class="btn-add-word">사전 단축어 추가</button>
				</div>
			</div>
		</div><!--// .dic-box -->
	</div><!--// .webfos-body -->
	
	<!-- 레이어팝업 : 삭제팝업 -->
	<div class="layer-pop small" id="pop-del1">
		<div class="title">삭제</div>
		<div class="body">
			<p class="sub-ttl align-center">선택한 단축어를 삭제합니다. <br>삭제된 단축어는 복원이 불가합니다. <br>모델 삭제를 진행 하시겠습니까?</p>
			<div class="btn-box">
				<button type="button" class="btn-cancel">취소</button>
				<button type="button" class="btn-confirm">확인</button>
			</div>
		</div>
	</div>
	<div class="layer-pop-bg fade"></div>
	<!-- 레이어팝업 : 삭제확인팝업 -->
	<div class="layer-pop small" id="pop-del2">
		<div class="title">삭제</div>
		<div class="body">
			<p class="sub-ttl align-center">선택한 단축어가 삭제되었습니다.</p>
			<div class="btn-box">
				<button type="button" class="btn-confirm">확인</button>
			</div>
		</div>
	</div>
	<div class="layer-pop-bg fade"></div>
	<!-- 레이어팝업 : 저장-추가불가팝업 -->
	<div class="layer-pop small" id="pop-save">
		<div class="title">추가 불가</div>
		<div class="body">
			<p class="sub-ttl align-center">동일한 입력어로 등록된 단축어가 존재 합니다. <br>확인 후 재등록 해주세요.</p>
			<div class="btn-box">
				<button type="button" class="btn-confirm">확인</button>
			</div>
		</div>
	</div>
	<div class="layer-pop-bg fade"></div>
	<!-- 레이어팝업 : 사전가져오기팝업 -->
	<div class="layer-pop small" id="pop-file">
		<form id="uploadForm" th:action="@{/webfos/file/upload}" method="post" enctype="multipart/form-data">
		<div class="title">사전 가져오기</div>
		<div class="body">
			<p class="sub-ttl">사용자 사전에 등록할 입력어 대량 등록을 위해 <br>설정하시고자 하는 파일을 등록해 주세요.</p>
			<div class="file-box">
				<input class="hidden" type="file" name="filename" id="filename">
				<input class="input-file" name="input-file-name" readonly="" type="text">
				<label class="btn-search" for="filename">검색</label>
			</div>
			<div class="btn-box">
				<button type="button" class="btn-cancel">취소</button>
				<button type="button" class="btn-confirm" id="uploadBt">확인</button>
			</div>
		</div>
		</form>
	</div>
	<div class="layer-pop-bg fade"></div>
</th:block>
<th:block layout:fragment="customScript">	
	<!-- js : jquery -->
	<script src="/resources/js/jquery-1.12.4.js"></script>
	<script src="/resources/js/jquery.easing.min.js"></script>
	<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../resources/js/html5shiv.js"></script>
	<![endif]-->
	<script>
		var upload = [[${upload}]];
		
		if (upload) {
			alert("업로드가 완료되었습니다.");
		}
	</script>
	<script>
		$('#searchButton').click(function(){
			if ($('#searchValue').val() == '') {
	            alert('검색어를 입력해주세요.');
	            return false;
	        }
		});
		
		$('#resetButton').click(function(){
			$('#searchValue').val('');
		});
	</script>
	<script>
		function deleteAutoTxt(event) {
			var aTag = $(event.target);
			var tr = aTag.parent().parent().parent();
			var td = tr.children();
			console.log("text : "+ aTag.text());
			
			if (aTag.text() == "취소") {
				var isDisabled = td.eq(0).children().attr("disabled");
		    	
		    	if (isDisabled == "disabled") {
		    		td.eq(1).children().val(td.eq(1).children().attr("placeholder"));
			    	aTag.text("삭제");
				    td.eq(1).children().attr("disabled", true);
				    //td.eq(2).children().eq(0).attr("class", "btn btn-xs btn-outline-dark");
				  	td.eq(2).children().eq(0).text("수정");
		    	} else {
		    		tr.remove();
		    	}
			} else {
				var keyword = td.eq(0).children().val();
				var result = confirm("선택한 단축어를 삭제합니다. 삭제된 단축어는 복원이 불가합니다. \n\n삭제를 진행 하시겠습니까?");
				if (result) {
		            axios.delete('/webfos/program/autoTxt/word/', {params:{'keyword':keyword}}).then(
						response => {
							alert("선택한 단축어가 삭제되었습니다.");
							if (response.data === "Success") {
								tr.remove();
							} 
		                }
					).catch( response => { alert("단축어 삭제에 실패하였습니다.");});
					
				}
			}
		}
		/*
		// [Save] 버튼 클릭시 "추가불가 메세지"
		$("a[name='save']").click(function(){
			var tr = $(this);
			var td = tr.children();
			var keyword = td.eq(0).text();
			alert("keyword : " + keyword);
			//alert("동일한 입력어로 등록된 단축어가 존재 합니다. \n확인 후 재등록 해주세요.");
		});
		*/
		// [edit] 버튼 클릭시 
		function saveAutoTxt(event) {
			var aTag = $(event.target);
			var tr = aTag.parent().parent().parent();
			var td = tr.children();
			// tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
		    console.log("클릭한 Row의 모든 데이터 : "+tr.text());
		    console.log("text : "+ aTag.text());
		    // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
			/*
		    var tdArr = new Array();
		    td.each(function(i){
		        tdArr.push(td.eq(i).text());
		    });
		    console.log("배열에 담긴 값 : "+tdArr);
		    */
		    console.log("td.eq(1) : "+ td.eq(0).children().val() + ", " + td.eq(1).children().val());
		    
		    //$(this).removeClass("btn-outline-dark").addClass("btn-outline-info");
		    
		    if (aTag.text() === "수정") {
		    	
		    	//aTag.attr("class", "btn btn-xs btn-outline-info");
		    	aTag.text("저장");
			    td.eq(1).children().attr("disabled", false);
			    td.eq(2).children().eq(1).text("취소");
			    
		    } else {
		    	var keyword = td.eq(0).children().val();
			    var autoTxt = td.eq(1).children().val();
			    
		    	var isDisabled = td.eq(0).children().attr("disabled");
		    	
		    	if (isDisabled == "disabled") {
		    		if (autoTxt.length == 0) {
		    			alert("출력어를 입력하세요!");
		    		} else {
				    	var words = keyword + ":" + autoTxt;
			    		var param = new URLSearchParams();
				    	param.append("words", words);
				    	param.append("overwrite", false);
			            axios.put('/webfos/program/autoTxt/word/', param).then(
							response => {
								alert("선택한 단축어가 수정되었습니다.");
								if (response.data === "Success") {
									//aTag.attr("class", "btn btn-xs btn-outline-dark");
							    	aTag.text("수정");
								    td.eq(1).children().attr("disabled", true);
								  	td.eq(2).children().eq(1).text("삭제");
								} 
			                }
						).catch( response => { alert("단축어 수정에 실패하였습니다.");});	    		
		    		}
		    	} else {
		    		if (keyword.length == 0) {
		    			alert("입력어를 입력하세요!");
		    		} else if (autoTxt.length == 0) {
		    			alert("출력어를 입력하세요!");
		    		} else {
				    	var words = keyword + ":" + autoTxt;
			    		var param = new URLSearchParams();
				    	param.append("words", words);
				    	param.append("overwrite", "N");
			            axios.post('/webfos/program/autoTxt/word/', param).then(
							response => {
								if (response.data === "Success") {
									alert("단축어가 등록되었습니다.");
									//aTag.attr("class", "btn btn-xs btn-outline-dark");
							    	aTag.text("수정");
							    	
						    		td.eq(0).children().attr("disabled", true);
								    td.eq(1).children().attr("disabled", true);
								  	td.eq(2).children().eq(1).text("삭제");
								} else if (response.data === "DuplicateKey") {
									alert("등록하려는 입력어가 존재합니다.");
									tr.remove();
								} else {
									alert("단축어 등록에 실패하였습니다.");
								}
			                }
						).catch( response => { alert("단축어 등록에 실패하였습니다.");});	    		
		    		}
		    	}
		    }
		    console.log("td.eq(2) :" + td.eq(2).children().eq(1).text());
		}
	</script>
	<script>
		// [가져오기] 버튼 클릭시 [사전가져오기 팝업] 띄움
		$('.btn-up').click(function(){
			$('#pop-file').addClass('open');
		});
		// [내보내기] 버튼 클릭시 [파일 생서]
		$('.btn-down').click(function(){
			downloadFile();
		});
		//[사전가져오기] 팝업닫기
		$('#pop-file button').click(function(){
			$('#pop-file').removeClass('open');
		});
		
		$('#uploadBt').click(function(){
			$('#uploadForm').submit();
		});
		
		// 사전 단축어 추가
		$('.btn-add-word').click(function() {
			$('.dic-list-box table > tbody:last').append('<tr><td><input type="text" class="dic-input"></td><td><input type="text" class="dic-input"></td><td><div class="btn-box"><button type="button" class="btn-save" onclick="javascript:saveAutoTxt(event)">저장</button><button type="button" class="btn-delete" onclick="javascript:deleteAutoTxt(event)">삭제</button></div></td></tr>');
		});
		/*
		// [삭제] 버튼 클릭시 [삭제팝업] 띄움
		$('.btn-delete').click(function(){
			$('#pop-del1').addClass('open');
		});
		// [삭제팝업] 닫기
		$('#pop-del1 button').click(function(){
			$('#pop-del1').removeClass('open');
			// [확인]버튼일경우 [삭제확인팝업] 띄움
			if($(this).text() == '확인'){
				$('#pop-del2').addClass('open');
			}
		});
		// [삭제확인팝업] 닫기
		$('#pop-del2 button').click(function(){
			$('#pop-del2').removeClass('open');
		});
		*/
		// [저장] 버튼 클릭시 [추가불가팝업] 띄움
		/*
		$('.btn-save').click(function(){
			$('#pop-save').addClass('open');
		});
		*/
		// [추가불가팝업] 닫기
		$('#pop-save button').click(function(){
			$('#pop-save').removeClass('open');
		});
		/*
		$('.btn-delete').click(function(){
			var result = confirm("선택한 단축어를 삭제합니다. 삭제된 단축어는 복원이 불가합니다. \n\n모델 삭제를 진행 하시겠습니까?");
			if(result){
				alert("선택한 단축어가 삭제되었습니다.");
			}else{
			    // 취소
			}
		});
		// [저장] 버튼 클릭시 "추가불가 메세지"
		$('.btn-save').click(function(){
			alert("동일한 입력어로 등록된 단축어가 존재 합니다. \n확인 후 재등록 해주세요.");
		});
		*/
	</script>
	<script>
		function downloadFile() {
			//var fileName = document.getElementById("downloadName").value;
			var memNm = "[[${memNm}]]";
			var fileName = "autotxt_" + memNm + ".txt";
			axios.get('/webfos/file/download')
		    .then(
		        response => {
		            console.log("response :" + response.data);
		            
		            if(this.isIE()) {
		            	this.saveToFile(fileName, response.data);
		            } else {
		                this.saveToFile_Chrome(fileName, response.data);
		            }
		        }
		    )
		    .catch( response => { alert("상용구 다운로드에 실패하였습니다."); } );
		}
		
		function saveToFile_IE(fileName, content) {
		    var blob = new Blob([content], { type: "text/plain", endings: "native" });
		    window.navigator.msSaveBlob(blob, fileName);
		    //window.navigator.msSaveOrOpenBlob(blob, fileName);
		}
		
		function saveToFile_Chrome(fileName, content) {
		    var blob = new Blob([content], { type: 'text/plain' });
		    objURL = window.URL.createObjectURL(blob);
		            
		    // 이전에 생성된 메모리 해제
		    if (window.__Xr_objURL_forCreatingFile__) {
		        window.URL.revokeObjectURL(window.__Xr_objURL_forCreatingFile__);
		    }
		    window.__Xr_objURL_forCreatingFile__ = objURL;
		    var a = document.createElement('a');
		    a.download = fileName;
		    a.href = objURL;
		    a.click();
		}
		
		function isIE() {
		    return (navigator.appName === 'Netscape' && navigator.userAgent.search('Trident') !== -1) ||
		        navigator.userAgent.toLowerCase().indexOf("msie") !== -1;
		}
		
		// ----- 사전가져오기-파일등록
		var fileTarget = $("input[name=filename]"); 
		// 값이 변경되면 
		fileTarget.on('change', function(){ 
			if(window.FileReader){ 
				// modern browser 
				var filename = $(this)[0].files[0].name; 
				// 추출한 파일명 삽입
				$(this).next($("input[name=input-file-name]")).val(filename);
			} else {
				// old IE
				var filename = $(this).val().split('/').pop().split('\\').pop();
				// 추출한 파일명 삽입
				$(this).next($("input[name=input-file-name]")).val(filename);
			}
				
		});	
		
		$('#uploadBt').click(function(){
			$('#uploadForm').submit();
		});
	</script>	
</th:block>
</body>
</html>